@font-face {
  font-family: 'CC-ICONS';
  font-style: normal;
  /* font-weight: normal; */
  src: url('libs/cc-icons.ttf') format('truetype');
}


.cc {
font-family: 'CC-ICONS';
color: #0736A4;
font-size: 200%;
}