a, a > code {
  color: rgb(161,183,13);
  text-decoration: none;
}

h1, h2, h3 {
  color: #0736A4;
}
 
.orange {
	background-color: #F09905;
}

.orange a, .orange a > code {
	color: rgb(6,128,205);
	text-decoration: none;
}

.orange h1, .orange h2, .orange h3 {
	  color: #001A57;
}

.softblue {
  background-color: #339999;
  color: #FFD960;
}
.softblue h1, .softblue h2, .softblue h3 {
  color: #001A57;
  line-height: 0.8em;
  text-shadow: 0 0 10px #728302;
}

.green {
  background-color: #728302;
  color: #FFD960;
}
.green h1, .green h2, .green h3 {
  color: #001A57;
  line-height: 0.8em;
  text-shadow: 0 0 10px #FFD960;
}

.green a, .green a > code {
	color: rgb(19,2,131);
	text-decoration: none;
}

.inverse {
  background-color: #F09905;
  color: #0736A4;
  text-shadow: 0 0 20px #728302;
}

.inverse h1, .inverse h2, .inverse h3 {
  color: #001A57;
  line-height: 0.8em;
}

.h2orange h2{
  color: #F09905;
}

.left-column {
  color: #000;
  width: 45%;
/*  height: 50%; */
  float: left;
  padding-top: 8em;
}

.left-column h2 {
  color: #F09905;
}

.right-column {
  background-color: rgb(51,153,153);
  background-color: rgba(51,153,153,.75);
  /* color: #FFD960; */
  width: 45%;
  float: right;
  padding-top: 1em;
}

.imageTop {
  vertical-align: top;
}

h4 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
}

.small-txt{
  font-size: 50%;
  
}
.small-beige{
  font-size: 50%;
  background-color:  beige; 
  opacity: 0.65;
  float: left;
  padding: 2px 3px;
}




